<style type="text/css">
  body {
    background: url(<%= signup_background_image %>) no-repeat center center fixed;
  }
</style>
<section class="log-reg">
  <div class="log-reg-box">
    <h1>User Log In</h1>
    <%= form_for(:session, url: login_path) do |f| %>
    <p><%= f.email_field :email,placeholder: "Email", required: true %></p>
    <p><%= f.password_field :password, placeholder: "Password!", required: true %></p>
    <%= f.submit 'Log In' %>
    <%= link_to 'Sign Up', register_path, class: 'bttn main' %><br><br>
    <div class="bttn main fb">
    <%= link_to  'Login with ', 'https://persephoneapp2.herokuapp.com/auth/facebook' %>
    <i class="fab fa-facebook-square"></i>
    <% end %>
    </div>
  </div>
</section>
