<body style="background-image: url(<%= @disaster.similar %>)" class='disaster-bg'>
<section class='disaster'>
  <h1><%= @disaster.name %> </h1>
  <!-- <%= @disaster.photo.attachment.nil? ? 'No photo' : image_tag(@disaster.photo) %><br> -->
  <h3>Basic Info: <%= @disaster.description %></h3>
  <p> <%= @disaster.before %></p>
  <p><%= @disaster.during %></p>
  <p><%= @disaster.after %></p>
  <p><strong>Regions: </strong><%= @disaster.regions %> /year</p>
</section>
