<style type="text/css">
  body {
    background: url(<%= signup_background_image %>) no-repeat center center fixed;
  }
</style>
<section class="register">
  <div class="reg-box">
    <h1>Sign up for Persephone</h1>
    <%= form_for(@user) do |f| %></p>
      <p><%= f.text_field :first_name, placeholder: 'First Name' %></p>
      <p><%= f.text_field :last_name, placeholder: 'Last Name'  %> </p>
      <p><%= f.email_field :email, placeholder: 'Email', required: true  %>  </p>
      <p><%= f.password_field :password, placeholder: 'Create a Password', required: true %></p>
      <p><%= f.password_field :password_confirmation, placeholder: 'Confirm Password', required: true %> </p>
      <strong><p><%= f.label :photo, 'Upload a photo' %></strong><br><br>
      <%= f.file_field :photo %></p>
      <p><%= f.text_area :bio, placeholder: 'Write a quick bio' %>  </p>
      <label><strong>Location: </strong></label><%= f.select :location, [["East Coast", "East Coast"], ["West Coast", "West Coast"], ["Middle America", "Middle America"], ["Alaska & Hawaii", "Alaska & Hawaii"]], required: true %></p>

      <%= f.submit 'Register' %>
      <% end %>
    </div>
</section>
