<style type="text/css">
  body {
    background: url(<%= signup_background_image %>) no-repeat center center fixed;
  }
</style>
<section class='profile '>

<div id='left'>
  <div id='left-text'>
    <h1><%= @user.full_name %> </h1><br>
    <%= @user.photo.attachment.nil? ? 'No photo' : image_tag(@user.photo) %><br>
    <p><strong>Email: </strong><%= @user.email %></p>
    <p><strong>Bio: </strong><%= @user.bio %></p>
    <p><strong>Location: </strong><%= @user.location %></p>
    <%= link_to 'Log Out', logout_path, method: :delete %>
  </div>
</div>

<div id='right'>
  <div id='right-text'>

      <h1>Latest Science <br>& Environment News:</h1>
      <% @xs.each do |f|  %>
      <div id='articles'>
      <h2><%= f['title'] %></h2>
      <p><%= f['content'] %></p>
      <p><%= link_to 'Read more!', f['url'] %></p><br>
      </div>
      <%end%>

  </div>
</div>
</section>
