<% if logged_in? %>
<nav class='nav'>
<h1><%= link_to 'Persephone', root_path %></h1>
<div><%= link_to "What is Climate Change?", learn_path %></div>
<div><%= link_to "Natural Disasters", ndisaster_path %></div>
<div><%= link_to "Regional Effects", region_path %></div>
<div><%= link_to 'Profile', profile_path%></div>
</nav>
<% else %>
<nav class='nav'>
<h1><%= link_to 'Persephone', root_path %></h1>
<div><%= link_to "What is Climate Change?", learn_path %></div>
<div><%= link_to "Natural Disasters", ndisaster_path %></div>
<div><%= link_to "Regional Effects", region_path %></div>
<div><%= link_to "Log In", login_path %></div>
</nav>
<% end %>
