<% if logged_in? %>
<nav class='nav'>
<div ><h1><%= link_to 'Persephone', root_path %></h1></div>
<div><%= link_to "Educate", learn_path %></div>
<div><%= link_to "Inform", info_path %></div>
<div><%= link_to "Take Action", change_path %></div>
<div><%= link_to 'Profile', profile_path%></div>
</nav>
<% else %>
<nav class='nav'>
<div ><h1><%= link_to 'Persephone', root_path %></h1></div>
<div><%= link_to "Educate", learn_path %></div>
<div><%= link_to "Inform", info_path %></div>
<div><%= link_to "Take Action", change_path %></div>
<div><%= link_to "Log In", login_path %></div>
</nav>
<% end %>
